{
  "openapi": "3.1.0",
  "info": {
    "title": "Sleeper API Middleware",
    "version": "1.0.0",
    "description": "Fast, secure, and intelligent API middleware server for the Sleeper fantasy football API. Features include simple API key authentication, smart caching, automatic retries, and enhanced player search capabilities.",
    "contact": {
      "name": "API Support",
      "url": "https://github.com/bryantbackus/sleeper-api-gateway"
    },
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.sleeper.bryantback.us",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Health check and API information endpoints"
    },
    {
      "name": "Authentication",
      "description": "API key management and authentication"
    },
    {
      "name": "Profile",
      "description": "User profile management for multi-user support"
    },
    {
      "name": "Players",
      "description": "Player search and cached data endpoints"
    },
    {
      "name": "Sleeper",
      "description": "Proxied Sleeper API endpoints with authentication"
    },
    {
      "name": "Cache",
      "description": "Cache management and statistics"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication. Can also be provided as query parameter 'api_key'."
      },
      "MasterKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Master-Key",
        "description": "Master key for administrative operations"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type or code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Additional error details (for validation errors)"
          }
        },
        "required": [
          "error"
        ]
      },
      "HealthStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "healthy",
              "degraded",
              "unhealthy"
            ],
            "description": "Overall health status"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp"
          },
          "environment": {
            "type": "string",
            "description": "Environment name"
          },
          "version": {
            "type": "string",
            "description": "API version"
          },
          "cache": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "healthy",
                  "stale",
                  "degraded",
                  "unhealthy",
                  "unknown"
                ]
              },
              "lastRefresh": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time"
              },
              "isRefreshing": {
                "type": "boolean"
              }
            }
          }
        },
        "required": [
          "status",
          "timestamp"
        ]
      },
      "ApiInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Sleeper API Gateway"
          },
          "version": {
            "type": "string",
            "example": "1.0.0"
          },
          "description": {
            "type": "string"
          },
          "documentation": {
            "type": "object"
          },
          "endpoints": {
            "type": "object"
          },
          "support": {
            "type": "object"
          }
        }
      },
      "Player": {
        "type": "object",
        "properties": {
          "player_id": {
            "type": "string",
            "description": "Unique player identifier"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "position": {
            "type": "string",
            "enum": [
              "QB",
              "RB",
              "WR",
              "TE",
              "K",
              "DEF"
            ]
          },
          "team": {
            "type": "string",
            "description": "NFL team abbreviation"
          },
          "fantasy_positions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "Active",
              "Inactive",
              "Injured Reserve"
            ]
          }
        },
        "required": [
          "player_id"
        ]
      },
      "PlayerSearchResult": {
        "type": "object",
        "properties": {
          "search_term": {
            "type": "string"
          },
          "total_results": {
            "type": "integer"
          },
          "players": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Player"
            }
          }
        }
      },
      "MultiPlayerSearchResult": {
        "type": "object",
        "properties": {
          "total_requested": {
            "type": "integer"
          },
          "found": {
            "type": "integer"
          },
          "not_found": {
            "type": "integer"
          },
          "results": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/Player"
                },
                {
                  "type": "object",
                  "properties": {
                    "player_id": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string",
                      "example": "Not Found"
                    }
                  }
                }
              ]
            }
          }
        },
        "required": [
          "total_requested",
          "found",
          "not_found",
          "results"
        ]
      },
      "League": {
        "type": "object",
        "properties": {
          "league_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "season": {
            "type": "string"
          },
          "sport": {
            "type": "string",
            "enum": [
              "nfl"
            ]
          },
          "total_rosters": {
            "type": "integer"
          }
        }
      },
      "UserProfile": {
        "type": "object",
        "properties": {
          "sleeper_user_id": {
            "type": "string",
            "pattern": "^\\d{8,20}$",
            "description": "Sleeper user ID (8-20 digits)"
          },
          "sleeper_username": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{1,20}$",
            "description": "Sleeper username"
          },
          "display_name": {
            "type": "string",
            "maxLength": 50
          },
          "preferences": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ApiKeyResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "apiKey": {
            "type": "string",
            "description": "The generated API key (64 characters)"
          },
          "userId": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "usage": {
            "type": "object",
            "properties": {
              "header": {
                "type": "string"
              },
              "query": {
                "type": "string"
              }
            }
          },
          "warning": {
            "type": "string"
          }
        }
      },
      "CacheStatus": {
        "type": "object",
        "properties": {
          "lastRefresh": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "lastRefreshFailure": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "isRefreshing": {
            "type": "boolean"
          },
          "nextRefreshTime": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "minutesSinceLastSuccess": {
            "type": "integer"
          },
          "isStale": {
            "type": "boolean"
          },
          "failureMoreRecentThanSuccess": {
            "type": "boolean"
          },
          "playersDataSize": {
            "type": "integer"
          },
          "trendingAddDataSize": {
            "type": "integer"
          },
          "trendingDropDataSize": {
            "type": "integer"
          }
        }
      }
    }
  },
  "paths": {
    "/": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Get API information",
        "description": "Returns API documentation and available endpoints",
        "operationId": "getApiInfo",
        "responses": {
          "200": {
            "description": "API information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "description": "Returns the health status of the API and cache system",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Service is healthy or degraded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                }
              }
            }
          },
          "503": {
            "description": "Service is unhealthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthStatus"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/auth/validate": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Validate API key",
        "description": "Validates an API key and returns user information",
        "operationId": "validateApiKey",
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "API key (alternative to header)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "API key is valid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean",
                      "example": true
                    },
                    "userId": {
                      "type": "string"
                    },
                    "description": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "lastUsed": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "valid": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or revoked API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/create-key": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create API key",
        "description": "Creates a new API key. Requires master key authentication.",
        "operationId": "createApiKey",
        "security": [
          {
            "MasterKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "type": "string",
                    "description": "User ID for the API key"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Optional description for the key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "API key created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Master key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/keys": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "List all API keys",
        "description": "Returns a list of all active API keys (masked). Requires master key.",
        "operationId": "listApiKeys",
        "security": [
          {
            "MasterKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyPrefix": {
                            "type": "string",
                            "description": "First 8 characters of the key"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "description": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastUsed": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "date-time"
                          },
                          "active": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "active": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Master key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/keys/{keyPrefix}": {
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Revoke API key",
        "description": "Revokes an API key by prefix. Requires master key.",
        "operationId": "revokeApiKey",
        "security": [
          {
            "MasterKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "keyPrefix",
            "in": "path",
            "required": true,
            "description": "At least 8 characters of the API key",
            "schema": {
              "type": "string",
              "minLength": 8
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "keyPrefix": {
                      "type": "string"
                    },
                    "keysRevoked": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid key prefix",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/cleanup": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Clean up old revoked keys",
        "description": "Deletes old revoked API keys. Requires master key.",
        "operationId": "cleanupApiKeys",
        "security": [
          {
            "MasterKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "daysOld": {
                    "type": "integer",
                    "default": 90,
                    "description": "Delete keys older than this many days"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cleanup completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "keysDeleted": {
                      "type": "integer"
                    },
                    "daysOld": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/dev-key": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create development API key",
        "description": "Creates a development API key. Only available in development mode.",
        "operationId": "createDevKey",
        "security": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "default": "dev-user"
                  },
                  "description": {
                    "type": "string",
                    "default": "Development key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Development key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "403": {
            "description": "Only available in development mode",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "Get user profile",
        "description": "Returns the current authenticated user's profile",
        "operationId": "getProfile",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "profile": {
                      "$ref": "#/components/schemas/UserProfile"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Profile"
        ],
        "summary": "Update user profile",
        "description": "Updates the current authenticated user's profile. Sleeper user ID will be verified if provided.",
        "operationId": "updateProfile",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProfile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "profile": {
                      "$ref": "#/components/schemas/UserProfile"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error or invalid Sleeper user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Profile"
        ],
        "summary": "Delete user profile",
        "description": "Deletes the current authenticated user's profile, resetting to defaults",
        "operationId": "deleteProfile",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profile deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile/verify-sleeper": {
      "post": {
        "tags": [
          "Profile"
        ],
        "summary": "Verify Sleeper user",
        "description": "Verifies that a Sleeper user ID exists and is valid",
        "operationId": "verifySleeperUser",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sleeper_user_id"
                ],
                "properties": {
                  "sleeper_user_id": {
                    "type": "string",
                    "pattern": "^\\d{8,20}$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sleeper user verified",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "sleeper_user": {
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "display_name": {
                          "type": "string"
                        },
                        "avatar": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Sleeper user not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile/status": {
      "get": {
        "tags": [
          "Profile"
        ],
        "summary": "Get profile status",
        "description": "Returns profile status and recommendations",
        "operationId": "getProfileStatus",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profile status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "object",
                      "properties": {
                        "configured": {
                          "type": "boolean"
                        },
                        "using_defaults": {
                          "type": "boolean"
                        },
                        "sleeper_user_id": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "sleeper_username": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "display_name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "endpoint": {
                            "type": "string"
                          },
                          "priority": {
                            "type": "string",
                            "enum": [
                              "high",
                              "medium",
                              "low"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/players/nfl": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "Get all players",
        "description": "Returns all NFL players from cache",
        "operationId": "getAllPlayers",
        "security": [],
        "responses": {
          "200": {
            "description": "All players",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Player"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/players/nfl/trending/{type}": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "Get trending players",
        "description": "Returns trending adds or drops",
        "operationId": "getTrendingPlayers",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "add",
                "drop"
              ]
            }
          },
          {
            "name": "lookback_hours",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 168
            },
            "description": "Hours to look back (1-168)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of results"
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Trending players",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/players/search/id/{playerId}": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "Search player by ID",
        "description": "Returns a single player by ID",
        "operationId": "searchPlayerById",
        "parameters": [
          {
            "name": "playerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Player found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Player"
                }
              }
            }
          },
          "404": {
            "description": "Player not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/players/search/id": {
      "post": {
        "tags": [
          "Players"
        ],
        "summary": "Search multiple players by ID",
        "description": "Returns multiple players by their IDs. Supports partial results.",
        "operationId": "searchPlayersByIds",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        }
                      ]
                    },
                    "minItems": 1,
                    "description": "Array of player IDs"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Players found (may include some not found)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiPlayerSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No players found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "requested_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "results": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/players/search/name": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "Search players by name",
        "description": "Searches players by name (first, last, or full name)",
        "operationId": "searchPlayersByName",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2
            },
            "description": "Search query (minimum 2 characters)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            },
            "description": "Maximum number of results"
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerSearchResult"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/players/search/position/{position}": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "Search players by position",
        "description": "Returns players filtered by position",
        "operationId": "searchPlayersByPosition",
        "parameters": [
          {
            "name": "position",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "QB",
                "RB",
                "WR",
                "TE",
                "K",
                "DEF"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Players by position",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "position": {
                      "type": "string"
                    },
                    "total_results": {
                      "type": "integer"
                    },
                    "players": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Player"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/players/search/team/{team}": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "Search players by team",
        "description": "Returns players for a specific NFL team",
        "operationId": "searchPlayersByTeam",
        "parameters": [
          {
            "name": "team",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 3,
              "description": "NFL team abbreviation (e.g., KC, BUF)"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Players by team",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "team": {
                      "type": "string"
                    },
                    "total_results": {
                      "type": "integer"
                    },
                    "players": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Player"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/players/active": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "Get active players",
        "description": "Returns only active players",
        "operationId": "getActivePlayers",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100
            }
          }
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Active players",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_results": {
                      "type": "integer"
                    },
                    "players": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Player"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/players/cache/status": {
      "get": {
        "tags": [
          "Players"
        ],
        "summary": "Get cache status",
        "description": "Returns the status of the player cache",
        "operationId": "getPlayerCacheStatus",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cache status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CacheStatus"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/players/cache/refresh": {
      "post": {
        "tags": [
          "Players"
        ],
        "summary": "Trigger cache refresh",
        "description": "Triggers a background refresh of the player cache",
        "operationId": "refreshPlayerCache",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cache refresh initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sleeper/state/nfl": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get NFL state",
        "description": "Returns current NFL season state (week, season, etc.)",
        "operationId": "getNflState",
        "security": [],
        "responses": {
          "200": {
            "description": "NFL state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "week": {
                      "type": "integer"
                    },
                    "season": {
                      "type": "string"
                    },
                    "season_type": {
                      "type": "string",
                      "enum": [
                        "regular",
                        "post"
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sleeper/user/{identifier}": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get Sleeper user",
        "description": "Returns Sleeper user data by ID or username",
        "operationId": "getSleeperUser",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Sleeper user ID or username"
          }
        ],
        "responses": {
          "200": {
            "description": "User data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string"
                    },
                    "username": {
                      "type": "string"
                    },
                    "display_name": {
                      "type": "string"
                    },
                    "avatar": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sleeper/user/{userId}/leagues/{sport}/{season}": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get user leagues",
        "description": "Returns leagues for a specific Sleeper user",
        "operationId": "getUserLeagues",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "nfl"
              ]
            }
          },
          {
            "name": "season",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2017,
              "maximum": 2030
            },
            "description": "Season year"
          }
        ],
        "responses": {
          "200": {
            "description": "List of leagues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/League"
                  }
                }
              }
            }
          },
          "400": {
            "description": "No Sleeper user configured or validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User or leagues not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sleeper/leagues/{sport}/{season}": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get authenticated user's leagues",
        "description": "Returns leagues for the authenticated user's configured Sleeper profile",
        "operationId": "getMyLeagues",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "sport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "nfl"
              ]
            }
          },
          {
            "name": "season",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2017,
              "maximum": 2030
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of leagues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/League"
                  }
                }
              }
            }
          },
          "400": {
            "description": "No Sleeper user configured",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "No Sleeper user configured"
                    },
                    "message": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    },
                    "profile_status_endpoint": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sleeper/league/{leagueId}": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get league",
        "description": "Returns league data",
        "operationId": "getLeague",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "League data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/League"
                }
              }
            }
          },
          "404": {
            "description": "League not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sleeper/league/{leagueId}/rosters": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get league rosters",
        "description": "Returns all rosters for a league",
        "operationId": "getLeagueRosters",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "League rosters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "404": {
            "description": "League not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sleeper/league/{leagueId}/users": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get league users",
        "description": "Returns all users in a league",
        "operationId": "getLeagueUsers",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "League users",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sleeper/league/{leagueId}/matchups/{week}": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get league matchups",
        "description": "Returns matchups for a specific week",
        "operationId": "getLeagueMatchups",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "week",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 18
            }
          }
        ],
        "responses": {
          "200": {
            "description": "League matchups",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sleeper/league/{leagueId}/winners_bracket": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get playoff bracket",
        "description": "Returns the winners bracket for a league",
        "operationId": "getPlayoffBracket",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Playoff bracket",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sleeper/league/{leagueId}/transactions": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get league transactions",
        "description": "Returns all transactions for a league",
        "operationId": "getLeagueTransactions",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "League transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sleeper/league/{leagueId}/traded_picks": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get traded picks",
        "description": "Returns traded draft picks for a league",
        "operationId": "getTradedPicks",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Traded picks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sleeper/user/{userId}/drafts/{sport}/{season}": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get user drafts",
        "description": "Returns drafts for a specific user",
        "operationId": "getUserDrafts",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "nfl"
              ]
            }
          },
          {
            "name": "season",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2017,
              "maximum": 2030
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User drafts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sleeper/league/{leagueId}/drafts": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get league drafts",
        "description": "Returns all drafts for a league",
        "operationId": "getLeagueDrafts",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "League drafts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sleeper/draft/{draftId}": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get draft",
        "description": "Returns draft data",
        "operationId": "getDraft",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Draft data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sleeper/draft/{draftId}/picks": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get draft picks",
        "description": "Returns all picks for a draft",
        "operationId": "getDraftPicks",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Draft picks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sleeper/draft/{draftId}/traded_picks": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get draft traded picks",
        "description": "Returns traded picks for a draft",
        "operationId": "getDraftTradedPicks",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "draftId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Draft traded picks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cache/stats": {
      "get": {
        "tags": [
          "Cache"
        ],
        "summary": "Get cache statistics",
        "description": "Returns request cache statistics. Requires master key.",
        "operationId": "getCacheStats",
        "responses": {
          "200": {
            "description": "Cache statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "cache": {
                      "type": "object",
                      "properties": {
                        "size": {
                          "type": "integer"
                        },
                        "hits": {
                          "type": "integer"
                        },
                        "misses": {
                          "type": "integer"
                        }
                      }
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Master key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/cache/clear": {
      "post": {
        "tags": [
          "Cache"
        ],
        "summary": "Clear request cache",
        "description": "Clears the request cache. Requires master key.",
        "operationId": "clearCache",
        "responses": {
          "200": {
            "description": "Cache cleared",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "entriesRemoved": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Master key required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "pattern",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional pattern to match cache keys"
          }
        ],
        "security": []
      }
    },
    "/sleeper/league/{leagueId}/transactions/{round}": {
      "get": {
        "tags": [
          "Sleeper"
        ],
        "summary": "Get league transactions",
        "description": "Returns all transactions for a league",
        "operationId": "getLeagueTransactionsByRound",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "leagueId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "round",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Round number"
          }
        ],
        "responses": {
          "200": {
            "description": "League transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}
